.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/** NEW CSS 
body{
    left: 50%;
    position: absolute;
    margin-left: -170.5px;
    background-color: #f9f5f4;
}
.bodycontainer{
    width: 379px;
    position: absolute;
    background-color: white;
    height: 4060px;
}**/

 @import url("https://use.typekit.net/qky4biu.css");

a{
    text-decoration: none;
}
a:hover { 
    text-decoration : none;
}
a:link {
  text-decoration : none;
}

a:visited {
  text-decoration : none;
}
a:active {
  text-decoration : none;
}
/****************************************************************Mobile***************/

/*** NAV BUTTON ***/
body{
    
}

.navbarstatic{
    z-index: 2;
    position: fixed;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid #f3746e;
    top: 0;
    background-color: #FFF;
    overflow: hidden;
}

.sitenamediv{
    display: inline-block;
    text-align: center;
}
.sitename{
    font-family: roboto, sans-serif;
    color: #f3746e;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    font-size: 20px;
}

.logoicon{
    height: 39px;
    display: inline-block;
    padding: 5px;
    float: left;
}
.biggernavcontainer{
    display: inline-block;
    float: right;
    padding: 5px;
}
.mnavcontainer {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #f3746e;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 52px;
  left: 0;
  background-color: #FFF;
  overflow-x: hidden;
  text-align:center;
}

.sidenav .sidenava {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f3746e;
  display: block;
   font-family: roboto, sans-serif;
    font-size: 20px;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.longnav{
    display: none;
}

/****************** MAIN PAGE ******************/

.mainbackground{
    height: 450px;
    width: 100%;
    padding-top: 100px;
    object-fit: cover;
}
.hihellotext{
    position: absolute;
    top: 300px;
    left: 10%;
    font-size: 70px;
    color: #FFFFFF;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    z-index: 1;
}

.iconcontainer{
    width: 252px;
    margin: auto;
    z-index: 1;
}
    
.icon{
    width: 40px;
    padding: 10px;
}
.pictureofme{
    position: absolute;
    height: 400px;
    top: 120px;
    z-index: 1;
    left: 12%;
    
    
}

.vectorlana{
    display: none;
}

.collumcontainer{
    width: 300px;  
    height: 150px;
    margin: auto;
}

    .collum2{
        width: 300px;
    }
    
    .biotextcontainer{
        overflow: hidden;
        padding-top: 25px;
    }
    .biotext{
        margin: auto;
        font-family: roboto, sans-serif;
        color: #737575;
        font-size: 15px;
    }

/** FOOTER **/
    .footertextcontainer{
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #FFFFFF;
      text-align: center;
        border-top: 2px solid #f3746e;
    }

    .footertext{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding: 11px;
        color: #f3746e;
        font-size: 13px;
        font-weight: 100;
    }

/******************************************************************************** Graphic Design **/

.space{
    margin: 60px;
}

.pagetitle{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    color: #f3746e;
    font-size: 22px;
    font-weight: 100;
}

.row{
    text-align: center;
    margin: auto;
    width: 290px;
    height: 600px;
}

.columnimg {
  /**float: left;**/
  width: 133px;
    padding: 5px;
    display: inline-block;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 52px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.86);
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.bigimage{
    text-align: center;
}
.verticalimage{
   /** height: 400px; **/
    width: 330px;
}

.photo-caption{
        padding: 20px;
        color: #FFFFFF;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
    }

    .space2{
        margin-top: 150px;
    }

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 250px;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


    /******************************************************************************MEDIUM **/
    


@media only screen and (min-width: 738px) {
    
    /*********** NAV *************/
.longnav{
    display: block;
    padding: 15px 0px 15px 0px;
    font-family: roboto, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:590px;
}
    .longnava{
        color: #f3746e;
        font-size: 16px;
        padding: 0px 10px 0px 10px;
    }
    
    .mnavcontainer{
        display: none;    
    }
    
    .sitenamediv{
        display: none;
    }
    
    
/***** MAIN PAGE ****/

.pictureofme{
    height: 600px;
    left: 50%;
    top: 60px;
    clip: rect(0px, 1000px, 540px, 0px);
}

.hihellotext{
    font-size: 110px;
    top: 300px;
    left: 30%;
    color: #FFFFFF;
}

.mainbackground{
    height: 500px;
    width: 100%;
    padding-top: 100px;
    object-fit: cover;
}

.iconcontainer{
    width: 572px;
    margin: auto;
}
    
.icon{
    width: 40px;
    padding: 10px 50px 10px 50px;
}
    
.collumcontainer{
    width: 800px;  
    height: 230px;
    margin: auto;
    overflow: hidden;
}

    .collum1{
        width: 400px;
        float: left;
    }
    
    .collum2{
        width: 800px;
    }
    
.vectorlana{
    height: 200px;
    display: block;
    margin: auto;
}
    .biotextcontainer{
        overflow: hidden;
        padding-top: 60px;
    }
    .biotext{
        margin: auto;
        font-family: roboto, sans-serif;
        color: #737575;
        font-size: 24px;
    }
    /******************************************************** Graphic Design medium**/

.space{
    margin: 60px;
}

.pagetitle{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: #f3746e;
    font-size: 30px;
    font-weight: 100;
}

.row{
    text-align: center;
    margin: auto;
    width: 750px;
    height: 1530px;
}

.columnimg {
  /**float: left;**/
  width: 333px;
    padding: 20px;
    display: inline-block;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 52px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.86);
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.bigimage{
    text-align: center;
}
.verticalimage{
    width: 590px;
}

.photo-caption{
        padding: 20px;
        color: #FFFFFF;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }

    .space2{
        margin-top: 150px;
    }

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 400px;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
}
    
/************************************************************************************************ BIG SIZE ***/
/* Portrait */
@media only screen and (min-width: 1132px) {
    
/*********** NAV *************/
.longnav{
    display: block;
    padding: 15px 0px 15px 0px;
    font-family: roboto, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 790px;
}
    .longnava{
        color: #f3746e;
        font-size: 16px;
        padding: 0px 30px 0px 30px;
    }
    
    .mnavcontainer{
        display: none;    
    }
    
    .sitenamediv{
        display: none;
    }
    
    
/***** MAIN PAGE ****/

.pictureofme{
    height: 600px;
    left: 50%;
    top: 60px;
    clip: rect(0px, 1000px, 540px, 0px);
}

.hihellotext{
    font-size: 110px;
    top: 300px;
    left: 30%;
    color: #FFFFFF;
}

.mainbackground{
    height: 500px;
    width: 100%;
    padding-top: 100px;
    object-fit: cover;
}

.iconcontainer{
    width: 572px;
    margin: auto;
}
    
.icon{
    width: 40px;
    padding: 10px 50px 10px 50px;
}
    
.collumcontainer{
    width: 800px;  
    height: 230px;
    margin: auto;
    overflow: hidden;
}

    .collum1{
        width: 400px;
        float: left;
    }
    
    .collum2{
        width: 800px;
    }
    
.vectorlana{
    height: 200px;
    display: block;
    margin: auto;
}
    .biotextcontainer{
        overflow: hidden;
        padding-top: 60px;
    }
    .biotext{
        margin: auto;
        font-family: roboto, sans-serif;
        color: #737575;
        font-size: 24px;
    }
    /******************************************************** Graphic Design bigger**/

.space{
    margin: 60px;
}

.pagetitle{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: #f3746e;
    font-size: 30px;
    font-weight: 100;
}

.row{
    text-align: center;
    margin: auto;
    width: 1127px;
    height: 1130px;
}

.columnimg {
  /**float: left;**/
  width: 333px;
    padding: 20px;
    display: inline-block;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 52px;
  width: 100%;
  /**height: 100%;**/
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.86);
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.bigimage{
    text-align: center;
}
.verticalimage{
    width: 590px;
}

    .photo-caption{
        padding: 20px;
        color: #FFFFFF;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }

    .space2{
        margin-top: 150px;
    }
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 400px;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
}