.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/** NEW CSS **/
body{
    left: 50%;
    position: absolute;
    margin-left: -187.5px;
    background-color: #f9f5f4;
}
.bodycontainer{
    width: 375px;
    position: absolute;
    background-color: white;
    height: 4060px;
}


/** HEADER **/

header{
    position: fixed;
    top: 0;
    width: 375px;
    z-index: 2;
}

.header{
    background-color: #f3896c;
    height: 40px;
}

.headertextcontainer{
    text-align: center;
    padding: 8px;
}

.headertext{
    color: white;
    font-family: roboto;
    font-weight: 450;
    font-size: 25px;
    letter-spacing: 4px;
}

/** FOOTER **/
    .footertextwrapper{
        background-color: #f3896c;
        height: 35px;
        top: 4025px;
        width: 375px;
        position: absolute;
    }

    .footertext{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding: 11px;
        color: #FFFFFF;
        font-size: 13px;
        font-weight: 100;
    }

/** ME **/

.metitle{
    top:60px;
}

.titletitle{
    position: absolute;
    background-color: #f8b091;
    height: 40px;
    width: 270px;
}

.titletext{
    color: white;
    font-family: roboto;
    font-weight: 300;
    font-size: 25px;
}

.titletextcontainer{
    padding: 8px;
    right: 0px;
    position: absolute;
    text-align: right;
}

.lanasmithpic{
    width: 240px;
    top: 115px;
    position: absolute;
    z-index: 1;
    right: 20px;
}

.circle{
    height: 240px;
    width: 240px;
    background-color: #fbbc73;
    border-radius: 50%;
    position: absolute;
    top: 115px;
    right: 30px;
}

.metextcontainer{
    position: relative;
    margin: 0 auto;
    width: 335px;
    top: 340px;
}

.nametext{
    font-size: 30px;
    font-family: roboto;
    font-weight: 600;
    color: #f3896c;
}

.quotetext{
    font-size: 20px;
    font-family: roboto;
    font-weight: 600;
    color: #f3896c;
    text-align: center;
    padding: 3px;
}

.paragraphtext{
    font-size: 12px;
    width: 310px;
    margin: 0 auto;
    font-family: roboto;
    font-weight: 500;
    color: #737574;
    padding-top: 10px;
}

.icon{
    width: 65px;
    display: inline-block;
    margin: 7.8px;
}

/** GRAPHIC DESIGN **/

.graphictitle{
    top: 727px;
}

.photo{
    width: 310px;
    height: 170px;
    background-color:grey;
    left: 50%;
    margin-left: -155px;
}

.biggpic{
    visibility: hidden;
}

.graphicphoto01{
    top: 787px;
    position: absolute;
}

.graphicphoto02{
    top: 977px;
    position: absolute;
}

.graphicphoto03{
    top: 1167px;
    position: absolute;
}

/** PHOTOGRAPHY **/
.phototitle{
    top: 1394px;
}

.photophoto01{
    top: 1454px;
    position: absolute;
}

.photophoto02{
    top: 1644px;
    position: absolute;
}

.photophoto03{
    top: 1834px;
    position: absolute;
}


/** WEB DEVELPMENT **/

.webtitle{
    top: 2061px;
}

.webphoto01{
    top: 2121px;
    position: absolute;
}

.webphoto02{
    top: 2311px;
    position: absolute;
}

.webphoto03{
    top: 2501px;
    position: absolute;
}

/** VIDEOGRAPHY **/

.videotitle{
    top: 2728px;
}

.videophoto01{
    top: 2788px;
    position: absolute;
}

.videophoto02{
    top: 2978px;
    position: absolute;
}

.videophoto03{
    top: 3168px;
    position: absolute;
}

/** USER EXPERIENCE **/

.uxtitle{
    top: 3395px;
}

.uxphoto01{
    top: 3455px;
    position: absolute;
}

.uxphoto02{
    top: 3645px;
    position: absolute;
}

.uxphoto03{
    top: 3835px;
    position: absolute;
}


/*** MODAL IMAGE OVERLAY **/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.67); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 10px;
    width: 350px;
    height: 450px;
    position: relative;
}

.bigpic{
    max-width: 350px;
    margin: 30px 0px;
}



.bigpicpor{
    max-width: 250px;
    margin: 30px 0px 0px 0px;
    position: absolute;
    left: 60px;
}

.uhohtoobig{
    width: 150px;
    left:115px;
    top: -10px;
}

.placetext{
    top: 415px;
    position: absolute;
    left: 30px;
}

.placetexttext{
    top: 370px;
    position: absolute;
    left: 30px;
}



/* The Close Button */
.close {
    color: #000000;
    float: right;
    font-size: 30px;
    font-weight: 1000;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.hyperl{
  color: #f8b091;
    text-decoration: none;
}

.hyperl:visited{
    color: #f2746e;
    text-decoration: none;
}
a{
    text-decoration: none;
}

@media only screen and (min-width: 1025px) {
    
    body{
    left: 50%;
    margin-left: -500.5px;
    }
    
    .bodycontainer{
        width: 1000px;
    }
    
    
    /** HEADER **/

header{
    width: 1000px;
}

/** FOOTER **/
    .footertextwrapper{
        top: 4025px;
        width: 1000px;
    }


/** ME **/
.lanasmithpic{
    width: 450px;
    right: 20px;
}

.circle{
    height: 450px;
    width: 450px;
    right: 40px;
}

.metextcontainer{
    left: -200px;
    width: 500px;
    top: 150px;
}

.nametext{
    font-size: 50px;
}

.quotetext{
    font-size: 37px;
    text-align: right;
    padding: 7px;
}

.paragraphtext{
    font-size: 16px;
    width: 410px;
    padding-top: 10px;
}

.icon{
    width: 90px;
    margin: 15px;
}

/** GRAPHIC DESIGN **/


.photo{
    width: 310px;
    height: 310px;
    background-color:grey;
    left: 50%;
    margin-left: -155px;
    border
}

    .biggpic{
        visibility: visible;
    }
    
    .smallpic{
        visibility: hidden;
    }
    
.graphicphoto01{
    top: 925.5px;
    left: 170px;
}

.graphicphoto02{
    top: 925.5px;
    left: 500px;
}

.graphicphoto03{
    top: 925.5px;
    left: 830px;
}

/** PHOTOGRAPHY **/

.photophoto01{
    top: 1592.5px;
    left: 170px;
}

.photophoto02{
    top: 1592.5px;
    left: 500px;
}

.photophoto03{
    top: 1592.5px;
    left: 830px;
}


/** WEB DEVELPMENT **/

.webphoto01{
    top: 2259.5px;
    left: 170px;
}

.webphoto02{
    top: 2259.5px;
    left: 500px;
}

.webphoto03{
    top: 2259.5px;
    left: 830px;
}

/** VIDEOGRAPHY **/

.videophoto01{
    top: 2936.5px;
    left: 170px;
}

.videophoto02{
    top: 2936.5px;
    left: 500px;
}

.videophoto03{
    top: 2936.5px;
    left: 830px;
}

/** USER EXPERIENCE **/

.uxphoto01{
    top: 3573.5px;
    left: 170px;
}

.uxphoto02{
    top: 3573.5px;
    left: 500px;
}

.uxphoto03{
    top: 3573.5px;
    left: 830px;
}


/*** MODAL IMAGE OVERLAY **/


/* The Modal (background) */


/* Modal Content */
.modal-content {
    width: 850px;
    height: 650px;
}

.bigpic{
    max-width: 850px;
    margin: 10px 0px;
}



.bigpicpor{
    max-width: 440px;
    margin: -5px 0px 0px 0px;
    position: absolute;
    left: 10px;
}

.uhohtoobig{
    width: 280px;
    left: 60px;
    top: 12px;
}

.placetext{
    top: 50px;
    position: absolute;
    left: 460px;
}

.placetexttext{
    top: 370px;
    position: absolute;
    left: 30px;
}
    
    .biggertext{
        width: 850px;
    }

    .webdevpics{
        width: 774px;
        margin: 30px 0px 0px 30px;
    }
    .webdevtexttext{
        width: 774px;
        top: 580px;
        left: 45px;
        position: absolute;
    }
    
    .videoresize{
        width: 800px;
        position: absolute;
        left: 35px;
        top: 25px;
    }
    
     .videotexttext{
        width: 774px;
        top: 525px;
        left: 50px;
        position: absolute;
    }
    
    .uxuxland{
        width: 750px;
        left: 58px;
        position: absolute;
    }
    
    .uxtexttext{
        top: 575px;
        position: absolute;
        width: 750px;
        left: 58px;
    }

    .uxuxpor{
        left: 425px;
        top: 50px;
    }
/* The Close Button */
.close {
    color: #000000;
    float: right;
    font-size: 30px;
    font-weight: 1000;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.hyperl{
  color: #f8b091;
    text-decoration: none;
}

.hyperl:visited{
    color: #f2746e;
    text-decoration: none;
}
a{
    text-decoration: none;
}
    
}