/*********************** FONTS *****************************/
@font-face {
    font-family: "coolvetica";
    src: url("font/coolvetica rg.ttf")
}
@font-face {
    font-family: "nickname";
    src: url("font/Nickname DEMO.otf")
}
@font-face {
    font-family: "fancy";
    src: url("font/yerbaluisa_demo-font-FFP.ttf")
}
/****** CLEARFIX *******/
        .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/******************* CSS RESET *******************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************** NEW CSS ***********************/
/*********************** MOBILE ***********************/

/*********************** INDEX ***********************/

   body{
    background-color: #fbdbea;
}
/*********** Header ***********/
   .headerbox{
    height: 210px;
    background-color: #9d80ae;
    background-image:url(../img/img-macaron/logo.png),url(../img/img-macaron/My%20Macaron.png),url(../img/img-macaron/headermacs.png);
    background-repeat: no-repeat;
    background-position: 0, 70% 30%, 80% -20px;
    background-size: 200px, 400px, 500px;
}

/*********** Navigation ***********/
.navbox {
    background-color: #5c4a67;
    height: 50px;
    width: 100%;
    width: 100%
}

.topnav {
    float: left;
    font-family: nickname;
    color: #f6c4db;
    font-size: 30px;
    padding: 10px 0;
    text-align: center;
    width: 33.333%
}

a {
    color: #f6c4db;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #dd90b3;
}

a:active {
    text-decoration: none;
    color: rgba(221, 144, 179, 0.74);
}

.currentpage {
    color: #f6c4db;
    border-color: #fbdbea;
    border-style: solid;
    border-bottom-width: 3px;
}

/*********** Content 1 ***********/
.whatsamac{
    max-width:100%;
}
.h22{
    max-width:100%;
    font-size: 80px;
    top: 260px;
    font-family: fancy;
    color: #5c4a67;
    margin: 10px auto;
    text-align: center;
}
.thisamac{
    width: 550px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.macdes{
    font-family: coolvetica;
    text-align: center;
    margin: 20px auto;
    max-width: 550px;
    font-size: 20px;
    color: #1c161f;
}
.someline1{
    background-color: #5c4a67;
    height: 20px;
}

/*********** Content 2 ***********/


.menuu{
    text-align: center;
    font-family: fancy;
    font-size: 100px;
    color: #5c4a67;
    margin: 10px 10px 20px 10px;
}

.someline2{
    height: 5px;
    width: 200px;
    margin:0 auto;
    background-color: #5c4a67;
}

.menucon{
    font-family: nickname;
    color: #9d80ae;
    font-size: 20px;
    text-align: center;
    margin: -40px 0 30px 0;
}
.column{
  margin: 0 5px;
  display: inline-block;
}
.allthemacarons{
 margin:auto;
 text-align: center;
}
.macarons{
    width: 200px;
}

/*********** Footer ***********/
footer{
    text-align: center;
}
.footerbox{
    background-color: #5c4a67;
    height: 170px;
} 
.back2top{
    font-family: nickname;
    color: #f6c4db;
    font-size: 30px;
    display: block;
}
.backtootop{
    padding: 20px;
}
.copyright{
    font-family: coolvetica;
    color: #1c161f;
    font-size: 20px;  
    text-align: center;
    margin: 5px;
}

/*************** About ***************/
/*********** Table ***********/
table {
    border: solid #eee 1px;
}

.storehoursa{
    padding: 20px 10px;
    font-family: nickname;
    border: solid #9d80ae 3px;
    border-bottom: none;
    color: #5c4a67;
    font-size: 30px;
}
.titlea{
    font-family: nickname;
    color:#5c4a67;
    font-size: 20px;
    font-weight: bold;
}
th,
td {
  border: solid #9d80ae 3px;
  padding: 1em;
  text-align: left;
}
td{
    font-family: coolvetica;
    color: #1c161f;
}




/*********** Columns ***********/
.columna{
  width: 47.5%;
  margin-left: 5%;
  float: left;
}
.columna:first-child{
  margin-left: 0;
}
.aboutcontcontainer{
    margin: 30px auto;
    max-width: 600px;
}
/*********** Content 1 ***********/

.infoa{
    color: #5c4a67;
    font-family: fancy;
    font-size: 60px;
    text-align: center;
    margin: 0 0 20px;
}

.infoa2{
    font-family: coolvetica;
    font-size: 20px;
    text-align: center;
}

/*********** Content 2 ***********/
pre{
  clear: both;
  padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.storea{
    width: 400px;
    border-width: 10px;
    border-color: #9d80ae;
    border-style: solid;
    margin: 10px 0;
}


/*************** Contact ***************/
.titleb{
    text-align: center;
    color:#5c4a67;
    font-family: fancy;
    font-size: 70px;
    margin: 20px 0;
    
}

/*********** Contact Form ***********/
.infob{
    text-align: center;
}
.contactformb{
    width: 400px;
    margin: -100px auto;
    padding: 100px 0;
    font-family: nickname;
    color:#5c4a67
}

fieldset{
    border-radius: 10px;
    background: #9d80ae;
    border: 4px solid #5c4a67;
    margin: 10px;
    padding: 5px;
}


input[type="text"]{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    background-color: #fbdbea;
    font-size: 15px;
    font-family: coolvetica;
    color:#1c161f;
}
textarea{
    width: 400px;
    height: 100px;
    border-radius: 10px;
    background-color: #fbdbea;
    font-size: 15px;
    size: 500px;
    font-family: coolvetica;
}

/******* Submit Button *******/

input[type="submit"]{
    margin: 0 346px;
    border-radius: 10px;
    color: #5c4a67;
    background-color: #9d80ae;
    border: 4px solid #5c4a67;
    font-family: nickname;
    padding:  3px 15px;
    font-size: 15px;
}
input[type="submit"]:hover{
    margin: 0 346px;
    border-radius: 10px;
    color: #9d80ae;
    background-color: #5c4a67;
    border: 4px solid #5c4a67;
    font-family: nickname;
    padding:  3px 15px;
    font-size: 15px;
}
input[type="submit"]:active{
    margin: 0 346px;
    border-radius: 10px;
    color: #5c4a67;
    background-color: #5c4a67;
    border: 4px solid #5c4a67;
    font-family: nickname;
    padding:  3px 15px;
    font-size: 15px;
}
/*********** Map ***********/
.itsamap{
    text-align: center;
    margin: 30px;
    font-size: 60px;
    font-family: fancy;
    color:#5c4a67;
}
.themapeveryone{
    text-align: center;
    margin: 0 auto;
    border-style: solid;
    border-width: 5px;
    border-color: #9d80ae;
    width: 500px;
    padding: 5px;
}
.justsomespace{
    margin: 30px;
}

@media screen and (min-width: 768px){
    /*********************** 768px + ***********************/
   /*************** Index ***************/
    
    .thisamac{
        width: 700px;
    }
    .macdes{
        max-width: 700px;
    }
    .column{
        margin: 0;
    }
    .column2{
        margin: 0 5px;
        float: left;
        width: 200px;
    }
    .macarons{
        width: 150px;
    }
    
    /*************** About ***************/
   
    .infoa2{
    font-size: 23px;
}
    .storea{
        width: 550px;
        margin: 0 auto;
    }
    
    /*************** Contact ***************/
    .infob{
        font-size: 30px;
    }
    label{
        font-size: 30px;
    }
} 
 
